ul {
  display: flex;
  justify-content: space-evenly;
}

ul > li, li > a {
  list-style: none;
  text-decoration: none;
}

li > a:hover {
  color: green;
}

.active{
  color: red;
  font-weight: bold;
  
}